body,
h1,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
}

body {
  min-width: 880px;
  min-height: 1000px;

  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;

  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  padding-bottom: 33px;

  font-style: normal;
  font-size: 35px;
  line-height: 35px;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

h2 {
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto Medium", "Arial", sans-serif;
}

.feedback-form {
  display: none;
}

.container {
  width: 95.4%;
  padding: 0 2.3%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease,
              background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/background-slide-3.png");
}

.content-wraper {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  width: 95.4%;
  min-height: 120px;
  padding-right: 2.3%;
  padding-left: 2.3%;
  margin-bottom: 10px;
}

.logo-area {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  margin-right: 15px;
  float: left;
}

.header-menu {
  float: left;
  padding-top: 23px;
}

.header-menu ul {
  list-style: none;
}

.menu-level-1 {
  padding: 0;
  margin: 0;

  font-size: 0;
}

.menu-level-1 > li {
  position: relative;
  display: inline-block;

  vertical-align: top;
}

.menu-level-1 > li > a {
  display: block;
  padding: 6px 14px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  text-decoration: none;
  border-radius: 16px;
}

.menu-level-1 > li > a span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.menu-level-1 > li > a:hover {
  color: #000000;
  background-color: #f8f7f4;
}

.menu-level-1 > li > a:hover span,
.menu-level-1 > li > a.menu-active span {
  border: none;
}

.menu-level-1 > li > a:active {
  color: #000000;
  background-color: #ededed;
  box-shadow: inset 0 2px 2px 0 #696969;
}

.menu-level-2 {
  position: absolute;
  top: 37px;

  display: none;
  min-width: 143px;
  min-height: 140px;
  padding: 6px 0;
  margin: 0;

  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.menu-level-1 > li:hover .menu-level-2 {
  z-index: 10;

  display: block;
}

.menu-level-2 > li {
  display: block;
  padding: 0;
}

.menu-level-2 > li a {
  display: block;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  color: #343434;
  text-decoration: none;
}

.menu-level-2 > li a:hover {
  background-color: #fbded7;
}

.menu-level-2 > li a:active {
  background-color: #f6b5a5;
}

.menu-level-2 li .new-items {
  font-weight: 700;

  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

ul li .menu-active,
ul li .menu-active:hover,
ul li .menu-active:active {
  color: #ffffff;
  background-color: #d07058;
}

.header-buttons {
  float: right;
  width: 263px;
  padding-top: 23px;

  font-size: 0;
}

.header-btn {
  position: relative;

  display: inline-block;
  height: 32px;
  margin-right: 10px;
  margin-bottom: 10px;

  vertical-align: top;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  cursor: pointer;
}

.header-btn > a{
  display: block;
  padding: 6px 16px 6px 44px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;

  color: #ffffff;
}

.header-btn:hover {
  background-color: #f8f7f4;
}

.header-btn:hover a {
  color: #313131;
}

.pop-up-form {
  position: absolute;
  top: 37px;
  right: 0;

  padding: 15px;

  border-radius: 5px;
  background-color: #f7f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-btn {
  position: relative;

  width: 33px;

  background-image: url("../img/icon-loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-btn:hover {
  background-image: url("../img/icon-loupe-hover.svg");
}

.login-btn {
  position: relative;
  width: 93px;
}

.login-btn::before,
.cart-btn::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login-btn::before {
  background-image: url("../img/icon-login.svg");
}

.login-btn:hover::before {
  background-image: url("../img/icon-login-hover.svg");
}

.cart-btn {
  width: 117px;
  margin-right: 0;
}

.cart-btn::before {
  background-image: url("../img/icon-cart.svg");
}

.cart-btn:hover::before {
  background-image: url("../img/icon-cart-hover.svg");
}

.cart-form {
  display: none;
  width: 510px;
  min-height: 218px;
  padding: 0 15px 21px;
}

.cart-table {
  display: table;
  padding: 16px 0 14px;
  border-bottom: 1px solid #cacac7;

  font-size: 13px;
  font-weight: 400;
  line-height: 13px;

  color: #333333;
}

.cart-table ul {
  display: table-row;
  height: 53px;
}

.cart-table li {
  display: table-cell;
}

.cart-cell-1 {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

.cart-cell-1 button {
  width: 11px;
  height: 11px;

  background-color: transparent;
  background-image: url("../img/btn-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cart-cell-2 {
  width: 47px;
  text-align: center;
  vertical-align: middle;
}

.cart-cell-3 {
  width: 231px;
  padding-left: 7px;
  padding-top: 20px;

  text-align: left;
  vertical-align: top;
}

.cart-cell-4 {
  width: 124px;
  padding-top: 20px;

  text-align: center;
  vertical-align: top;
}

.cart-cell-4 .cart-item-weight {
  color: #888888;
}

.cart-cell-5 {
  width: 83px;
  padding-top: 20px;

  text-align: center;
  vertical-align: top;
}

.cart-total p {
  padding-right: 10px;

  font-size: 15px;
  font-weight: 700;
  line-height: 46px;
  text-align: right;

  color: #333333;
}

.cart-total .btn-normal {
  float: right;
  height: 35px;
  padding: 0 23px;

  font-size: 15px;
  line-height: 35px;

  color: #fefefe;
}

.cart-btn:hover .cart-form {
  z-index: 10;

  display: block;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  height: 44px;
  width: 267px;
  padding: 11px 9px;
  border: 1px solid #d2d2d1;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  color: #383838;
  border-radius: 5px;
  outline: none;
}

textarea {
  width: 100%;
  min-height: 155px;

  margin-bottom: 25px;
}

/*input[type="text"]::-moz-placeholder,,
input[type="text"]:-webkit-input-placeholder,
input[type="search"]::-moz-placeholder,,
input[type="search"]:-webkit-input-placeholder,
input[type="email"]::-moz-placeholder,,
input[type="email"]:-webkit-input-placeholder,*/
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;

  color: #9b9b9b;
}

input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  padding: 10px 8px;
  border-width: 2px;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  padding: 10px 8px;
  border-color: #a3bdea;
  border-width: 2px;
}

.btn-normal {
  display: block;
  min-width: 102px;
  height: 44px;
  padding: 0;

  font-size: 18px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  border-radius: 23px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #ca3824 0%, #f26843 100%);
  background: -webkit-linear-gradient(top, #ca3824 0%, #f26843 100%);
  background:         linear-gradient(to top, #ca3824 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.btn-normal:hover {
  color: #fefefe;
  background:    -moz-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background:         linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.btn-normal:active {
  color: #fceeec;
  background:    -moz-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background:         linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}

.search-form {
  display: none;
  width: 242px;
  height: 39px;
}

.search-form input {
  width: 100%;
}

.search-btn:hover .search-form {
  z-index: 10;

  display: block;
}

.login-form {
  display: none;
  width: 240px;
  min-height: 143px;
  padding: 20px 16px 8px;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
}

.login-form input:last-child {
  margin-bottom: 14px;
}

.login-form button {
  width: 102px;
  height: 35px;
  display: block;
  float: left;

  font-size: 15px;
  font-weight: 700;
  line-height: 35px;

  color: #fefefe;
}

.login-form-links {
  float: right;
  width: 118px;
  min-height: 35px;
}

.login-form-links a {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;

  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.login-form-links a:hover,
.login-form-links a:active {
  color: #ec593c;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
  text-decoration: none;
}

.login-btn:hover .login-form {
  z-index: 10;

  display: block;
}

.header-contact-info {
  float: right;
  margin-top: 0px;

  text-align: right;
  font-size: 16px;
}

.header-contact-info span {
  font-size: 22px;
  font-weight: bold;
}

.breadcrumbs {
  float: left;
  height: 14px;
  margin-top: 28px;

  font-size: 0;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  height: 17px;
  padding-right: 22px;

  vertical-align: middle;
}

.breadcrumbs a,
.breadcrumbs span{

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: #ffffff;
}

.breadcrumbs a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs li:not(:last-child):after {
  content: "»";

  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 22px;
  height: 14px;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
  border: none;
}

.slider {
  position: relative;

  width: 95.4%;
  min-height: 500px;
  padding: 0 2.3%;
  margin-bottom: 30px;
}

.slide {
  display: none;
  padding-top: 285px;

  text-align: center;
}

.slide-title {
  padding-bottom: 30px;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 800;

  color: #ffffff;
}

.slide-btn {
  width: 279px;
  height: 64px;
  padding: 0;

  font-size: 31.48px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 32px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 2.3%;
  z-index: 10;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(254, 254, 254, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-slide-3.png");
}


#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.content {
  width: 100%;
  margin-bottom: 40px;
}

.content-item {
  position: relative;

  float: left;
  width: 46.6%;
  min-height: 220px;
  padding: 20px;
  box-sizing: border-box;

  border-radius: 15px;
}

.promo h2 {
  margin-bottom: 22px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  color: #ffffff;
}

.promo p {
  margin-bottom: 70px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
}

.content-left.promo {
  background-color: #8a1c37;
  background-image: url("../img/background-raspberry.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.content-right.promo {
  background-color: #3f2418;
  background-image: url("../img/background-chocolate.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-promo {
  position: absolute;
  bottom: 20px;
  right: 20px;

  min-width: 100px;
  padding: 0 23px;
}

.content-left {
  margin-left: 2.3%;
  margin-right: 2.2%;
}

.content-right {
  margin-right: 2.3%;
}

.catalog-item {
  position: relative;

  float: left;
  width: 22.2%;
  min-height: 250px;
  margin-right: 2.2%;
  margin-bottom: 40px;

  text-align: center;
}

.catalog-item figure {
  position: relative;
  z-index: 5;
}

.catalog-item:nth-child(4n-3) {
  margin-left: 2.3%;
}

.catalog-item:nth-child(4n) {
  margin-right: 2.3%;
}

.item-img {
  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 14px;
}

.hits-item .item-img::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 61px;
  height: 61px;

  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/icon-hit.png");
  background-repeat: no-repeat;
  background-position: center;
}

.item-price {
  position: absolute;
  top: 75%;
  left: 0;

  display: block;
  height: 45px;

  font-size: 30px;
  font-weight: 700;

  color: #ffffff;
}

.item-price span {
  height: 45px;
}

.price-number {
  font-size: 45px;
}

.price-number::after {
  content: url("../img/icon-curency-ru.svg");

  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 45px;
}

.item-img img {
  width: 100%;
  height: auto;
}

.item-name {
  position: relative;
}

.item-name  a {
  padding: 0 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-name a:hover,
.item-name a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.item-hover {
  position: absolute;
  top: -10px;
  left: -10px;

  display: none;
  width: 100%;
  height: calc(100% + 66px);
  padding: 10px;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn-item {
  position: absolute;
  bottom: 22px;
  left: 15px;

  font-size: 15px;

  width: calc(100% - 30px);
}

.catalog-item:hover .item-hover {
  z-index: 10;

  display: block;
}

.catalog-item:hover figure {
  z-index: 20;
}

.catalog-item:hover .item-name {
  z-index: 20;
}

.catalog-item:hover .item-name a {
  border: none;
}

.features {
  width: 95.4%;
  min-height: 200px;
  padding: 30px 20px;
  margin: 0 2.3% 40px;
  box-sizing: border-box;

  font-size: 0;

  color: #323232;
  border-radius: 12px;
  background-color: #eaddc1;
  background-image: url("../img/background-wafer.jpg");
  background-repeat: repeat;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-item {
  position: relative;

  float: left;
  width: 48.865%;
  padding-left: 57px;
  padding-top: 15px;
  margin-top: 10px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: transparent;
}

.feature-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 47px;
  height: 47px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-icon-icecream::before {
  background-image: url("../img/icon-icecream.svg");
}

.feature-icon-cow::before {
  background-image: url("../img/icon-cow.svg");
}

.feature-icon-leaf::before {
  background-image: url("../img/icon-leaf.svg");
}

.feature-icon-term::before {
  background-image: url("../img/icon-thermometer.svg");
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/background-strawberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item:nth-child(even) {
  margin-right: 2.27%;
}

.blog-news {
  width: 300px;
  min-width: 90px;
}

.blog-news h2 {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  color: #5a5a5a;
}

.blog-news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: #353535;
  background-color: rgba(255, 255, 255, 0.8);
}

.subscribe-border {
  padding: 5px;

  background-color: #f8f7f4;
  background-image: url("../img/background-mail.png");
  background-repeat: repeat;
  background-position: 0 0;
}

.subscribe {
  position: relative;

  width: 100%;
  min-height: 210px;
  padding: 30px 21px 35px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-radius: 15px;
}

.subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: #5a5a5a;
}

.subscribe input[type="email"] {
  position: absolute;
  bottom: 35px;
  left: 21px;

  width: calc(100% - 182px);
  height: 44px;
}

.subscribe button[type="submit"] {
  position: absolute;
  bottom: 35px;
  right: 21px;

  width: 130px;
  height: 44px;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 24,3px;

  text-align: center;
  vertical-align: middle;
  color: #fefefe;
}

.catalog-filter {
  margin-bottom: 22px;

  font-size: 0;
}

.catalog-filter-row {
  margin-bottom: 18px;
}

.filter-control {
  display: inline-block;
  margin-right: 15px;
  box-sizing: border-box;

  vertical-align: bottom;

  font-size: 16px;
}

.filter-control p {
  padding-left: 20px;
  margin-bottom: 9px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.filter-sorting select {
  width: 193px;
  height: 36px;
  padding: 0 15px;

  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  vertical-align: middle;

  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.filter-sorting select:hover {
  color: #373737;
  background-color: #ffffff;
}

.price-control {
  position: relative;

  width: 219px;
  height: 36px;

  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.price-toggle {
  position: absolute;
  top: 8px;

  width: 20px;
  height: 20px;

  background-color: #f7f7f4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.price-scale {
  position: absolute;
  top: 16px;
  left: 15px;

  width: 188px;
  height: 4px;

  background-color: rgba(247, 247, 244, 0.5);
}

.price-bar {
  position: absolute;
  top: 16px;
  left: 40px;

  width: 107px;
  height: 4px;

  background-color: rgba(247, 247, 244, 1);
}

.price-min {
  left: 34px;
}

.price-max {
  left: 133px;
}

.input-fieldset {
  min-width: 385px;
  height: 36px;
  padding: 0 15px;

  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-fieldset input[type="radio"],
.input-fieldset input[type="checkbox"] {
  display: none;
}

.input-fieldset label {
  position: relative;

  display: inline-block;
  padding-left: 30px;

  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
}

.input-fieldset label:not(:last-child) {
  margin-right: 20px;
}

.input-fieldset label:before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";

  display: block;
  width: 21px;
  height: 36px;

  background-repeat: no-repeat;
  background-position: center;
}

.filter-fat-content label:before {
  background-image: url("../img/controll-radiobutton-off.svg");
}

.filter-fillers label:before {
  background-image: url("../img/controll-checkbox-off.svg");
}

.filter-fat-content input[type="radio"]:checked .filter-fat-content label:before {
  background-image: url("../img/controll-radiobutton-on.svg");
}

.catalog-filter button[type="submit"] {
  width: 179px;
  height: 36px;
  box-sizing: border-box;

  color: #ffffff;
  border-radius: 18px;
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.2);
}

.catalog-filter button[type="submit"]:hover {
  color: #393939;
  border: none;
  background-color: #fafbfa;
}

.catalog-filter button[type="submit"]:active {
  color: #393939;
  border: none;
  background-color: #e9e9e9;
  box-shadow: inset 0 2px 1px 0 #696968;
}

.map {
  width: 100%;
  min-height: 429px;

  background-color: #dfe2c8;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.map .contact-info {
  float: right;
  width: 302px;
  min-height: 305px;
  padding: 30px 25px;
  margin-top: 65px;
  margin-right: 2.3%;
  box-sizing: border-box;

  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  background-color: #fffefe;
  border-radius: 15px;
  color: #343434;
  text-align: left;
}

.contact-info .contact-address,
.contact-info .contact-phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contact-info span {
  display: inline-block;
}

.contact-info .contact-address {
  margin-bottom: 20px;
}

.contact-info .contact-phone,
.contact-info .contact-mode {
  line-height: 22px;
}

.contact-info .contact-mode {
  margin-bottom: 24px;
}



.catalog-paginator {
  float: right;
  margin: 40px 0 30px;

  font-size: 0;
}

.catalog-paginator li {
  display: inline-block;

  vertical-align: middle;
}

.catalog-paginator li:not(:last-child) {
  margin-right: 2px;
}

.catalog-paginator a,
.catalog-paginator span {
  display: block;
  width: 26px;
  height: 26px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.catalog-paginator .active {
  color: #383838;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-paginator a:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-paginator a:active {
  color: #383838;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-paginator .prev,
.catalog-paginator .next {
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-paginator .prev {
  background-image: url("../img/btn-paginator-prev.svg");
}

.catalog-paginator .next {
  background-image: url("../img/btn-paginator-next.svg");
}

.main-footer {
  width: 95.4%;
  min-height: 103px;
  margin: 0 2.3%;
}

.footer-inner {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-col {
  float: left;
  width: 50%;
  min-height: 103px;
}

.social {
  float: left;
  margin-top: 20px;

  font-size: 0;
}

.social-icon {
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 4px solid rgba(255, 255, 255, 0.71);

  vertical-align: middle;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.social-icon-tw {
  background-image: url("../img/icon-social-tw.svg");
}

.social-icon-insta {
  background-image: url("../img/icon-social-insta.svg");
}

.social-icon-fb {
  background-image: url("../img/icon-social-fb.svg");
}

.social-icon-vk {
  background-image: url("../img/icon-social-vk.svg");
}

.social-icon:hover {
  opacity: 0.98;
}

.social-icon::before {
  content: "";

  visibility: hidden;
}

.social-icon-tw::before {
  background-image: url("../img/icon-social-tw-active.svg");
}

.social-icon-insta::before {
  background-image: url("../img/icon-social-insta-active.svg");
}

.social-icon-fb::before {
  background-image: url("../img/icon-social-fb-active.svg");
}

.social-icon-vk::before {
  background-image: url("../img/icon-social-vk-active.svg");
}

.social-icon:active {
  box-shadow: inset 0 2px 1px 0 #888888;
  opacity: 1;
}

.social-icon-tw:active {
  background-image: url("../img/icon-social-tw-active.svg");
}

.social-icon-insta:active {
  background-image: url("../img/icon-social-insta-active.svg");
}

.social-icon-fb:active {
  background-image: url("../img/icon-social-fb-active.svg");
}

.social-icon-vk:active {
  background-image: url("../img/icon-social-vk-active.svg");
}

.social a:not(:last-child) {
  margin-right: 10px;
}

.links-col {
  margin-top: 20px;
  min-height: 36px;
  padding-left: 22px;
  margin-right: 10px;

  font-size: 0;
}

.links-col a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;

  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.links-col a:hover,
.links-col a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.link-favorite {
  position: relative;

  font-weight: 700;
}

.link-favorite::before {
  content: "";

  position: absolute;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.links-col-left {
  float: right;
  width: 120px;
}

.links-col-right {
  float: left;
  width: 185px;
}

.copyright {
  float: right;
  min-width: 180px;
  min-height: 60px;
  margin-top: 20px;

  font-size: 12px;
  font-weight: 400;

  text-align: right;
}

.copyright img {
  display: block;
  width: 108px;
  height: 37px;
}

.copyright a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright a:hover,
.copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.feedback-form {
  position: absolute;
  z-index: 50;
  bottom: 0;

  display: block;
  width: 430px;
  min-height: 400px;
  padding: 21px 24px;

  border-radius: 5px;
  background-color: #f7f7f4;
}

.feedback-form-close {
  display: none;
}

.feedback-form p {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;

  color: #343434;
}

.feedback-name,
.feedback-email {
  width: 267px;
  margin-bottom: 20px;
}

.feedback-form button {
  position: relative;

  display: block;
  float: right;
  width: 140px;
  height: 44px;

  text-align: center;
}

.feedback-form .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: block;
  width: 17px;
  height: 17px;

  background: transparent url("../img/btn-close.svg") no-repeat center;
}
